%html
  %head
    %title Bunseki
    %link{rel: 'stylesheet', type: 'text/css', href: url('/css/semantic/dist/semantic.min.css')}
    %link{rel: 'stylesheet', type: 'text/css', href: url('/css/bunseki.css')}
    %script{src: url('/js/jquery.min.js')}
    %script{src: url('/css/semantic/dist/semantic.min.js')}
  %body
    != yield
